---
layout: archive
title: "Talks and presentations"
#permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}
  <p style="text-decoration:underline;">
    <a href="/talkmap.html">See a map of all the places I've given a talk!</a>
  </p>
{% endif %}

<section class="talk-details">

  <article>
    <h2>1. SESBC Summer School, 2024</h2>
    <h3>Chalmers University of Technology, Sweden</h3>
    <p>💡 <strong>Intelligent Energy Data Management and Online decision-making</strong></p>
    <ul>
      <li>Presented a modular framework to optimize real-time energy management for households.</li>
      <li>Leveraged Linear Programming and heuristics to reduce processing time while maintaining cost-optimal decisions for energy storage and grid sell-off.</li>
      <li>Designed for scalability with potential for peer-to-peer energy trading and EV charging optimization.</li>
    </ul>
  </article>

  <article>
    <h2>2. Distributed Computing and System Seminar, 2023</h2>
    <h3>Chalmers University of Technology, Sweden</h3>
    <p>⚡️ <strong>Data Center Energy Management</strong></p>
    <ul>
      <li>Presented an EDA technique to process real-time energy data from data centers (DC).</li>
      <li>Implemented a Machine Learning framework for thermal classification of DC IT rooms.</li>
      <li>Designed deep learning models to forecast utilization of DC computing resources.</li>
    </ul>
  </article>

  <article>
    <h2>3. ACM International Conference on Future Energy Systems, 2022</h2>
    <h3>Virtual Event</h3>
    <p>🌱 <strong>Exploratory Data Analysis for Data Center Energy Management</strong></p>
    <ul>
      <li>Analyzed datasets from ENEA Portici Data Center’s CRESCO 6 HPC cluster across various granularity levels.</li>
      <li>Applied machine learning for feature selection and modeling to identify key energy efficiency factors.</li>
      <li>Explored green strategies using renewable energy, efficient computing, and optimized cooling to reduce environmental impact.</li>
    </ul>
  </article>

  <article>
    <h2>4. 6th IFAC Symposium on Telematics Applications, 2022</h2>
    <h3>Nancy, France</h3>
    <p><strong>Best Presentation Award 🏆</strong></p>
    <p>🔋 <strong>Advanced Data Analytics Modelling for Evidence-Based Data Center Energy Management</strong></p>
    <ul>
      <li>Conducted advanced data analytics on the ENEA Portici Research Center’s High Performance Computing Cluster.</li>
      <li>Performed comprehensive EDA, feature selection, and extraction using statistical analysis and machine learning techniques on real-time big data.</li>
      <li>Implemented deep learning and time-series forecasting to predict resource utilization, energy consumption, and waste in the data center.</li>
    </ul>
  </article>
</section>

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
